<div class="container mt-4">
  <h1>アンケートトップ</h1>

  <div class="card mb-4">
    <div class="card-header">
      登録情報
    </div>
    <div class="card-body">
      <p><strong>ニックネーム:</strong> <%= @user.user_name %></p>
      <p><strong>郵便番号:</strong> <%= @user.user_profile&.postcode %></p>
      <p><strong>調査対象者の人数:</strong> <%= @user.user_profile&.num_of_objects %></p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      お子さん情報
    </div>
    <div class="card-body">
      <p>調査対象となるお子さんの情報を登録し、個々のお子さんについてアンケートにお答えください。</p>
      <% if @user.children.any? %>
        <ul class="list-group">
          <% @user.children.each_with_index do |child, index| %>
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center">
                <span>
                  <strong><%= "[" + (index + 1).to_s + "] " + child.school_name + " " + child.grade.to_s + "年" %></strong>
                </span>
                <%= link_to "編集", edit_user_child_path(@user, child), class: "btn btn-secondary btn-sm" %>
              </div>
              <div class="mt-2">
                <% if child.answers.any? %>
                  <%= link_to "回答を確認・編集する", edit_answer_path(child_id: child.id), class: "btn btn-secondary btn-sm" %>
                <% else %>
                  <%= link_to "アンケートに回答する", new_answer_path(child_id: child.id), class: "btn btn-success btn-sm" %>
                <% end %>
              </div>
              <div class="mt-2">
                <%# 登録済みの経路がある場合に「確認・編集」ボタンを表示 %>
                <% if child.requested_routes.any? %>
                  <%= link_to "移動経路の確認・編集", requested_routes_path(subject_id: child.id, subject_type: 'Child'), class: "btn btn-secondary btn-sm" %>
                <% end %>
                <%# 「新規登録」ボタンは常に表示 %>
                <%= link_to "移動経路の登録", new_requested_route_path(subject_id: child.id, subject_type: 'Child'), class: "btn btn-success btn-sm" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>まだお子さんの情報が登録されていません。</p>
      <% end %>

      <% if @user.children.count < (@user.user_profile&.num_of_objects || 0) %>
        <div class="mt-3">
          <%= link_to "新しいお子さんの情報を登録する", new_user_child_path(@user), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
