<h1>ルートの表示</h1>

<div 
  class="container-fluid" 
  data-controller="map"
  data-map-api-key-value="<%= ENV['GOOGLE_MAP_API_KEY'] %>"
  data-map-routes-value='<%= @routes_data.to_json %>'
  data-map-start-marker-path-value="<%= asset_path('start_marker.svg') %>"
  data-map-end-marker-path-value="<%= asset_path('end_marker.svg') %>"
>
  <div class="row">
    <div class="col-md-8">
      <div data-map-target="map" style="height: 600px; width: 100%;"></div>
      <div id="legend" style="padding: 10px; display: flex; align-items: center; gap: 20px; border-top: 1px solid #ccc; margin-top: 5px;">
        
        <div style="display: flex; align-items: center; gap: 8px;">
          <%= image_tag 'start_marker.svg', width: 16, height: 16 %>
          <span>出発地</span>
        </div>
      
        <div style="display: flex; align-items: center; gap: 8px;">
          <%= image_tag 'end_marker.svg', width: 16, height: 16 %>
          <span>目的地</span>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h4>条件選択</h4>
      <select class="form-select" aria-label="Default select example">
        <option selected>出発地</option>
        <option value="1">佐沼高等学校</option>
        <option value="2">登米総合産業高等学校</option>
        <option value="3">登米高等学校</option>
        <option value="4">飛鳥未来きずな高等学校</option>
      </select>
    </div>
  </div>
</div>

